// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$dark-grey: #242424;
$dark-blue: #000125;
$dark-red: #8D0711;
$dark-purple: #273788;
$dark-blue: #0E5278;
