<div class="avatar-test">
  <div class="menu-with-icon">
      <img
          src="https://res.cloudinary.com/mariacend1910/image/upload/v1661521609/1636971979752_t6bakf.jpg"
          alt="Avatar"
          class="always-visible" />
      <ul class ="menu-items">
        <li class="menu-list-item">
        <%= link_to "Home", root_path, class:"item-list-drop"  %>
        </li>
        <li class="menu-list-item">
        <%= link_to "All Destinations", destinations_path, class:"item-list-drop"  %>
        </li>
        <li class="menu-list-item">
        <%= link_to "Profile Page", profile_path, class:"item-list-drop"  %>
        </li>
        <li class="menu-list-item">
        <%= link_to "Log Out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item item-list-drop" %>
        </li>
      </ul>
  </div>
</div>

<%# --------------------------- %>
<%# <div class="avatar-dropdown">
    <img src="https://res.cloudinary.com/mariacend1910/image/upload/v1661436289/scaryimageavatar_f3nixe.jpg" alt="Avatar" class="avatar">
    <div class="dropdown-content">
      <p>Hello World!</p>
    </div>
 </div>%>
