<div class="banner">
  <div class="smoke" >
    <ul>
     <li><img id="ghost" src="https://yt3.ggpht.com/a/AATXAJy82drDyU4C6tWGCvAmGOIiZFhpBfk7_JR7_Q=s900-c-k-c0xffffffff-no-rj-mo"></li>
      <li>S</li>
      <li>P</li>
      <li>O</li>
      <li>O</li>
      <li>K</li>
    </ul>
  </div>
</div>
