<div class="banner">
  <div class="containerHeader">

  </div>

  <div class="bannerText">
    <h1>SPOOKED</h1>
    <p class="sloogan">Your best vacation? A spooky one!</p>
    <h1 id="accent"> > </h1>
  </div>
</div>
