<div class="smoke" >
        <ul>
            <li><img src="https://image.freepik.com/free-vector/picture-ghost-black_251819-965.jpg"></li>
            <li>S</li>
            <li>P</li>
            <li>O</li>
            <li>O</li>
            <li>O</li>
            <li>O</li>
            <li>K</li>
        </ul>
    </div>
