<div class="banner">
  <div class="containerHeader">
  </div>
  <div class="backgroundGreyLayer">
  </div>



  <div class="bannerText">
    <h1>SPOOK</h1>
    <p class="sloogan">Your most terrorific vacation awaits</p>
    <%= button_to "Book now!", destinations_path, class:"action-btn", :method => :get %>
  </div>
</div>
