<div class="banner">
  <div class="containerHeader">
  </div>
  <div class="backgroundGreyLayer">
  </div>

  <div class="bannerText">
    <h1>SPOOKED</h1>
    <p class="sloogan">Your best vacation? A spooky one!</p>
    <button class="action-btn">Look for your next destinations!</button>
  </div>
</div>
