<div class="banner">
  <div class="containerHeader">
  </div>
  <div class="backgroundGreyLayer">
  </div>



  <div class="bannerText">
    <h1>SPOOK</h1>
    <p class="sloogan">Your best terror vacation</p>
    <button class="action-btn">Book now!</button>
  </div>
</div>
