<h1>Categories</h1>

<% categories = ["Haunted Houses", "Cemeteries", "Abandoned Prisons", "UFO", "Deserted Islands"] %>
<div class="categories">
  <% categories.each do |category| %>
    <div class="card-category"><%= category %> </div>
  <% end %>
</div>
