<%# <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.2/css/all.css">
<div class ="footer">
  <div class="container">
    <div class="box-l">
      <h5>ABOUT US</h5>
      <p class="footer-p">  </p>
    </div>
  <div class ="icons">
      <li><a href = "https://github.com/gracelavender"><i class="fa-brands fa-github"></i></a></li>
      <li><a href = "https://www.instagram.com/g_lavender/"><i class="fa-brands fa-instagram"></i></a></li>
      <li><a href = "https://www.linkedin.com/in/grace-lavender/"><i class="fa-brands fa-linkedin"></i></a></li>
      </div>
    </div>
    <hr>
  <div class="copyright">
  <p class="copyright-text">Copyright &copy; 2022 All Rights Reserved by <strong>SPOOK.</strong></p>
</div> %>


<%# <div class="footer">
  <div class="grid">
    <div class="about us">
  <h2> ABOUT US </h2>
  <p class="footer-p">SPOOK is an international vacation rental company. Our goal is to provide our guests access to the spookiest destinations around the world.</p>
  </div>
      <div class="footer-footer">
    </div>
</div> %>

<%# <div class="Footer_outer">
  <div class="Footer_inner_left">Copyright 2010 xyz.com </div>
  <div class="Footer_inner_right">About us | privacy | terms </div>
</div> %>

<!-- FOOTER START -->
<div class="footer">
  <div class="contain">
  <div class="col">
    <h1>About Us</h1>
    <ul>
      <li>SPOOK is an international vacation rental company. Our goal is to provide our guests access to the spookiest destinations around the world.</li>
      <hr>
      <li>Copyright © 2022 All Rights Reserved by SPOOK.</li>
    </ul>
  </div>
  </div>
  <div class="col">
    <h1>Accounts</h1>
    <ul>
      <li>Careers</li>
      <li>Privacy Policy</li>
      <li>Contact Us</li>
    </ul>
  </div>
  </div>
<div class="clearfix"></div>
</div>
</div>
<!-- END OF FOOTER -->
