<!-- FOOTER START -->
<div class="footer">
  <div class="footer-container">
    <div class="col">
      <h1>About Us</h1>
      <ul>
        <li>SPOOK is an international vacation rental company. Our goal is to provide our guests access to the spookiest destinations around the world.</li>
        <hr>
        <li>Copyright © 2022 All Rights Reserved by SPOOK.</li>
      </ul>
      </div>
    </div>
    <div class="col">
      <h1>Accounts</h1>
      <ul>
        <li>Careers</li>
        <li>Privacy Policy</li>
        <li>Contact Us</li>
      </ul>
    </div>
  </div>
</div>
<!-- END OF FOOTER -->
