<nav class="home-nav">
  <div class="logo">
    <img id="avatar" src="osete-terrorifico.jpg" alt="">
  </div>

  <ul class="home-nav-list">
    <li class="list-item">Home</li>
    <li class="list-item">Search</li>
    <li class="list-item">Bookings</li>
  </ul>

  <div class="buttons">
    <button id="sign-log-btn">Sign in</button>
    <button id="sign-log-btn">Log in</button>
  </div>
</nav>
