<%# <nav class="home-nav">
  <div class="logo">
    <img class="avatar" src="https://res.cloudinary.com/dlanz/image/upload/v1661245369/lewagon/gfexf3hjjqerb3jzoyfv.png">
  </div>

  <div id="car-movement">
    <img class="coche" src="https://res.cloudinary.com/dlanz/image/upload/v1661250937/lewagon/x4os3sops7q93xwisap1.png">
  </div> %>

  <%# <ul class="home-nav-list">
    <li class="list-item">Home</li>
    <li class="list-item">Search</li>
    <li class="list-item">Bookings</li>
  </ul> %>

  <%# <div class="buttons">
    <button class="sign-log-btn">Sign up</button>
    <button class="sign-log-btn">Log in</button>
  </div>
</nav> %>
