body {
  margin:0;
  padding:0;
  // height: 100vh;
  max-width: 100%;
}

.banner{
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url("https://res.cloudinary.com/mariacend1910/image/upload/v1661347882/ltslopo_A_victorian_haunted_mansion_foggy_atmosphere_and_dense__4677f320-4e5b-478e-b756-1ed60b4336b3_-_landscap_ysk6ft.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  overflow: hidden;
  position: relative;
  text-align: center;
  display: flex;
}

.backgroundGreyLayer{
  background-color: rgba(0,0,0,0.3);
}

.smoke {
  position:absolute;
  top:55%;
  left:50%;
  transform:translate(-50%,-50%);
}


#accent{
  color: #8D0711;
}


.containerHeader {
background-image: url("https://64.media.tumblr.com/224f9198d5d88a5e92e43f5ef4f7a592/139ff9bb70edd708-66/s540x810/0edbf6d586b6b4c85c5bd61569992f036c21191b.png");
position: fixed;
bottom:0px;
pointer-events: none;
background-size: cover;
background-position: center;
background-repeat: repeat-x;
height: 100%;
width: 100%;
opacity: 100%;
min-width: 2000px;
position: relative;
animation: fog 4s alternate infinite linear;
}

.action-btn{
  margin: 0px 20px;
  height: 30px;
  font-family: $text-font;
  font-size: 25px;
  height: 40px;
  background-color: rgba(36, 36, 36, 0.8);
  color: #8D0711;
  transition: 0.25s;
  border-radius: 5px;
  border-style: solid;
  border-color: #8D0711;
  &:hover,
  &:focus {
    color: #8D0711;
  }
}

.action-btn:hover{
  box-shadow: 0 0.8em 0.8em -0.6em #8D0711;
  transform: translateY(-0.25em);
}

.bannerText{
  position: absolute;
  // background-color: red;
  width: 100vw;
  height: 100vh;
  // top: calc(100% - 500px);
  // right: calc(100% - 1000px);
  // transform: translateX(100%);
  justify-content: center;
  text-align: center;
  top: 0;
  right: 0;
  h1{
    font-size: 230px;
    font-family:'NightmarePills';
    line-height: 0px;
    color:white;
    text-shadow: 3px 4px black;
    margin-bottom: 226px;
  }
  p{
    font-size: 25px;
    font-family:$text-font;
    line-height: 0px;
    color:white;
    text-shadow: 3px 3px black;
  }
}

@keyframes fog {
    from {right: 0px;}
    to {right: 100px; }
  }
