.destinations-main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 60px;
  width: 90%;
  margin: auto;
  // height: 1200px;
}

.index-page-main-container {
  display: flex;
  height: auto;
  margin: auto;
  justify-content: center;
  width: 90%;
  padding: 10px;
}

.index-container-left {
  width: 70%;
  margin-right: 60px;
}

.index-container-right {
  width: 30%;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

.container-card {
  width: 100%;
  height: 480px;
  border-radius: 5px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding-bottom: 20px;
  margin-bottom: 15px;
}

.card-information {
  // height: 100%;
}

.image-card {
  width: 100%;
  height: 250px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.title-card, .text-card {
  text-decoration: none;
  color: $dark-grey;
  margin: none;
  line-height: 1.6rem;

  a, h3 {
    margin: 0, 0;
    padding: 0;
  }
}

.title-card {
  font-family: $text-font;
  font-size: 26px;
}

.text-card {
  font-family: $text-font;
}

.main-title {
  font-size: 48px;
  font-family: $text-font;
}

.categories-container {
  display: flex;
  padding: 0px 18px;
}

.text-container {
  padding: 0px 18px;
}

.intensity-card {
  background-color: $dark-red;
  border-radius: 4px;
  padding: 5px 15px;
}

.categories {
  color: white;
  padding: 0;
  padding-top: 0;
}

.categories-card {
  background-color: $dark-blue;
  border-radius: 4px;
  padding: 5px 15px;
  margin-left: 15px;
}


.cards a {
  text-decoration: none;
}

.home-cards-grid a {
  text-decoration: none;
}

.categories-container p {
  margin: 5px;
}

.destinations-title {
  padding-bottom: 20px;
}
