.container-cat-section{
  height: 450px;
  margin: 0 40px;
}

.categorytitle-h1 {
  display:flex;
  justify-content: center;
  font-size: 30px;
}

.cat-grid{
  height: 250px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
}

.cat-button{
  height:100%;
  width: 100%;
  text-decoration: none;
  color: white;
  font-family: $text-font;
  font-size: 26px;
  text-shadow: 2px 2px 1px black;
  background-size: cover;
  background-position:center;
  display: grid;
  place-items: center;
  border-radius: 5px;
  box-shadow: rgba(99, 99, 99, 0.8) 0px 2px 8px 0px;
  transition: transform .2s;
}

.cat-grid a {
  text-decoration: none;
}
.cat-grid a:hover {
  transform: scale(1.05);
}
