.home-nav{
  display: flex;
  justify-content: space-between;
  height: fit-content;
  background-color: #2C2829;
}

#avatar{
  width: 40px;
  height: 40px;
  border-radius: 100%;
  margin: 8px;
}

.home-nav-list{
  display: inline-flex;
}

.list-item{
  list-style: none;
  padding-left: 40px;
  color: white;
  font-size: 18px;
}

.buttons{
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
  margin-right: 10px;
}

#sign-log-btn{
  margin-left: 20px;
  padding: 5px;
  height: 28px;
}

.list-item:hover {
  color: red;
  transition: 1s;
}
