@import "button";

.home-nav{
  display: flex;
  justify-content: space-between;
  height: fit-content;
  background-color: rgba(36, 36, 36, 0.1);
  position: absolute;
  width: 100vw;
  max-width: 100%;
  z-index: 1000;
}

.logo {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  margin: 8px;
  position: absolute;
  top:0px;
  left:0px;
}

.avatar {
  vertical-align: middle;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border-color: blue;
  position: absolute;
  top:0px;
  right:0px;
}

.home-nav-list{
  display: inline-flex;
  margin-top: 35px;
  margin-left: 80px;
}

.list-item{
  list-style: none;
  padding-right: 40px;
  color: #8D0711;
  font-size: 25px;
  font-weight: bold;
}

.list-item:hover {
  color: white;
  transition: 1s;
}

.buttons{
  margin-top: 30px;
}
