<div class="main-container">
  <h1>Destination page</h1>
  <%= form_with url: destinations_path, method: :get, class: "d-flex" do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Find a destination" %>
    <%= submit_tag "Search", class: "btn btn-primary" %>
  <% end %>
  <%= render "shared/destination-cards" %>
</div>
