<div class="destinations-main-container">
  <h1 class="dest-title">Destinations</h1>
  <div class="search-dest">
    <%= form_with url: destinations_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
      params[:query],
      class: "form-control-dest",
      placeholder: "Find a destination" %>
      <%= submit_tag "ðŸ”", class: "btn btn-primary" %>
    <% end %>

  <%= render "shared/destination-cards" %>
</div>
